HHVentaSegurosAPP/HHVentaSegurosAPP/Web References/WSHHVentaSeguros/HHVentaSergurosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfClsUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClsUsuario" nillable="true" type="tns:ClsUsuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClsUsuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClsAuditoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCreadoPor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdModificadoPor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCreadoPor" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaModificadoPor" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCreadoPor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:ArrayOfClsCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClsCliente" nillable="true" type="tns:ClsCliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClsCliente">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoCedula" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroCedula" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroTelefono" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CorreoElectronico" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoElectronico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCreadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoElectronico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdCustomer" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuppliers">
        <s:complexType />
      </s:element>
      <s:element name="GetSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSuppliersResult" type="tns:ArrayOfClsProveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsProveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClsProveedor" nillable="true" type="tns:ClsProveedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClsProveedor">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdProveedor" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TipoCedula" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroCedula" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NumeroTelefono" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CorreoElectronico" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoElectronico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCreadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProveedor" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoElectronico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdSupplier" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSales">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesResult" type="tns:ArrayOfClsVenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsVenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsVenta" nillable="true" type="tns:clsVenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsVenta">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="idVenta" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="totalColones" type="s:float" />
              <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idCreadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdVenta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServices">
        <s:complexType />
      </s:element>
      <s:element name="GetServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServicesResult" type="tns:ArrayOfClsServicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsServicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsServicio" nillable="true" type="tns:clsServicio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsServicio">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="tipoServicio" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
              <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoServicio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idCreadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idServicio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoServicio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdServicio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssets">
        <s:complexType />
      </s:element>
      <s:element name="GetAssetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetsResult" type="tns:ArrayOfClsActivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsActivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsActivo" nillable="true" type="tns:clsActivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsActivo">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClsAuditoria">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="idActivo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
              <s:element minOccurs="1" maxOccurs="1" name="vidaUtilAnos" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="valorDesechoColones" type="s:float" />
              <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="vidaUtilAnos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="valorDesechoColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idCreadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertAssetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idActivo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precioColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="vidaUtilAnos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="valorDesechoColones" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="idModificadoPor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAssetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdActivo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteAssetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="GetSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSupplier" />
  </wsdl:message>
  <wsdl:message name="InsertSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="GetSalesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSaleSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSale" />
  </wsdl:message>
  <wsdl:message name="InsertSaleSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSaleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSale" />
  </wsdl:message>
  <wsdl:message name="UpdateSaleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSaleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSale" />
  </wsdl:message>
  <wsdl:message name="DeleteSaleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertServiceSoapIn">
    <wsdl:part name="parameters" element="tns:InsertService" />
  </wsdl:message>
  <wsdl:message name="InsertServiceSoapOut">
    <wsdl:part name="parameters" element="tns:InsertServiceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateService" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteService" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssets" />
  </wsdl:message>
  <wsdl:message name="GetAssetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAssetSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAsset" />
  </wsdl:message>
  <wsdl:message name="InsertAssetSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAssetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAssetSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAsset" />
  </wsdl:message>
  <wsdl:message name="UpdateAssetSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAssetResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAssetSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAsset" />
  </wsdl:message>
  <wsdl:message name="DeleteAssetSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAssetResponse" />
  </wsdl:message>
  <wsdl:portType name="HHVentaSergurosWSSoap">
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input message="tns:InsertCustomerSoapIn" />
      <wsdl:output message="tns:InsertCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <wsdl:input message="tns:GetSuppliersSoapIn" />
      <wsdl:output message="tns:GetSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSupplier">
      <wsdl:input message="tns:InsertSupplierSoapIn" />
      <wsdl:output message="tns:InsertSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input message="tns:UpdateSupplierSoapIn" />
      <wsdl:output message="tns:UpdateSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input message="tns:DeleteSupplierSoapIn" />
      <wsdl:output message="tns:DeleteSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input message="tns:GetSalesSoapIn" />
      <wsdl:output message="tns:GetSalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSale">
      <wsdl:input message="tns:InsertSaleSoapIn" />
      <wsdl:output message="tns:InsertSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <wsdl:input message="tns:UpdateSaleSoapIn" />
      <wsdl:output message="tns:UpdateSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <wsdl:input message="tns:DeleteSaleSoapIn" />
      <wsdl:output message="tns:DeleteSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input message="tns:GetServicesSoapIn" />
      <wsdl:output message="tns:GetServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <wsdl:input message="tns:InsertServiceSoapIn" />
      <wsdl:output message="tns:InsertServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <wsdl:input message="tns:UpdateServiceSoapIn" />
      <wsdl:output message="tns:UpdateServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <wsdl:input message="tns:DeleteServiceSoapIn" />
      <wsdl:output message="tns:DeleteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssets">
      <wsdl:input message="tns:GetAssetsSoapIn" />
      <wsdl:output message="tns:GetAssetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAsset">
      <wsdl:input message="tns:InsertAssetSoapIn" />
      <wsdl:output message="tns:InsertAssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAsset">
      <wsdl:input message="tns:UpdateAssetSoapIn" />
      <wsdl:output message="tns:UpdateAssetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAsset">
      <wsdl:input message="tns:DeleteAssetSoapIn" />
      <wsdl:output message="tns:DeleteAssetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HHVentaSergurosWSSoap" type="tns:HHVentaSergurosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap:operation soapAction="http://tempuri.org/GetSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSupplier">
      <soap:operation soapAction="http://tempuri.org/InsertSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSale">
      <soap:operation soapAction="http://tempuri.org/InsertSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <soap:operation soapAction="http://tempuri.org/UpdateSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <soap:operation soapAction="http://tempuri.org/DeleteSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <soap:operation soapAction="http://tempuri.org/InsertService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap:operation soapAction="http://tempuri.org/UpdateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap:operation soapAction="http://tempuri.org/DeleteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssets">
      <soap:operation soapAction="http://tempuri.org/GetAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAsset">
      <soap:operation soapAction="http://tempuri.org/InsertAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAsset">
      <soap:operation soapAction="http://tempuri.org/UpdateAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAsset">
      <soap:operation soapAction="http://tempuri.org/DeleteAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HHVentaSergurosWSSoap12" type="tns:HHVentaSergurosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap12:operation soapAction="http://tempuri.org/InsertCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap12:operation soapAction="http://tempuri.org/GetSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSupplier">
      <soap12:operation soapAction="http://tempuri.org/InsertSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap12:operation soapAction="http://tempuri.org/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap12:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap12:operation soapAction="http://tempuri.org/GetSales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSale">
      <soap12:operation soapAction="http://tempuri.org/InsertSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSale">
      <soap12:operation soapAction="http://tempuri.org/UpdateSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <soap12:operation soapAction="http://tempuri.org/DeleteSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="http://tempuri.org/GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <soap12:operation soapAction="http://tempuri.org/InsertService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap12:operation soapAction="http://tempuri.org/UpdateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap12:operation soapAction="http://tempuri.org/DeleteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssets">
      <soap12:operation soapAction="http://tempuri.org/GetAssets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAsset">
      <soap12:operation soapAction="http://tempuri.org/InsertAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAsset">
      <soap12:operation soapAction="http://tempuri.org/UpdateAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAsset">
      <soap12:operation soapAction="http://tempuri.org/DeleteAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HHVentaSergurosWS">
    <wsdl:port name="HHVentaSergurosWSSoap" binding="tns:HHVentaSergurosWSSoap">
      <soap:address location="https://localhost:44399/HHVentaSergurosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="HHVentaSergurosWSSoap12" binding="tns:HHVentaSergurosWSSoap12">
      <soap12:address location="https://localhost:44399/HHVentaSergurosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>